@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:wght@500&family=Roboto:wght@300;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:wght@500&family=Roboto:wght@300;500&display=swap');




body {
  font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("images/bg.jpg");
    background-size: cover;
    background-position: center;
}


/*header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}*/
.btn {
  padding: .45rem 1.5rem .35rem;
}

.gradient-custom {
  /* fallback for old browsers */
  background-color: #045de9;
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);

  /* Chrome 10-25, Safari 5.1-6 */
  
}

h2 {
    margin: 0;
    color: violet;
}











/*nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    overflow: hidden;

}

nav ul li {
    float: left;
    z-index: 10;
}

nav ul li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    z-index: 10;

}

nav ul li a:hover {
    background-color: #ddd;
}
*/

/* main {
    padding: 20px;
} */


/* Navigation Bar */
.navbar{
  padding: 20px 10px 20px 0px;
  background-color: #28a7e9;
  transition: all ease 0.4s;
}
.navbar-brand{
  font-size: 22px;
  color: white !important;
}
.navbar .navbar-nav li a{
  font-size: 16px;
  color: white;
}

/* Animation */
.animate{
  padding: 0px 10px 0px 0px;
  transition: all ease 0.4s;
}

/* Jumbotron */
.jumbotron{
  margin-top: 110px;
}




h2 {
    margin-top: 0;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}


@media (max-width: 600px) {
    nav ul li {
        float: none;
        display: block;
    }
}


.inroduction{
  line-height:1.25;
  font-size: 1.25rem;
  padding: 30px 50px;
}

.ic_image{

z-index: 2;
float: right;
  height:200px;
  width: 300px;
  position: relative;
  bottom:  175px;
  right: 50px;

}


.ic_circuit{
  margin: 0px 30px;
  border: 2px solid black;
  height: 290px;
  width: 300px;
  background-color: white;
  float:left;
}
.ex1heading{
  text-align: center;
}
.table1{
  margin-left:  auto;
  margin-right: auto;
  width: 25%;

}
table,th,td{
  border:1px solid;

}
td,th{
  text-align: center;
}
.astable_working{
  height: 400px;
  width: 350px;
  border: 2px solid black;
  margin-left: 30px;
  margin-right: 30px;
  margin-top:50px;
  float: right;

}
.ex1{
  line-height: 50px;
  /* padding: 30px 50px; */
  margin:0px;
}
.ex1_theory{
  line-height: 1.5;
  padding: 15px;
  margin:0px;
}
.resourceHeading{
  text-align: center;
  line-height: 1.5;
}
.resourceTable{
  margin:auto;
  width: 50%;
}
.navContainer{
  position: sticky;
  top:0px;
  background-color: red;
}
.aritra{
  float: right;
  height: 400px;
  width: 600px;
  padding-right: 50px;
}
.heading{
  text-align: center;
  padding: 20px 20px;
  color: #C3EDC0;
}
.sub_heading{
  color: #99FEFF;
  padding: 10px 30px;
}
.theory{
  padding:30px 50px;
  font-size: 1.25rem;
}
.list_elemets{
  padding-left: 40px;
}
.floating_container{
  font-size: 1.10rem;
}

.para{
  margin: 0px;
  padding:25px 30px;
  font-size: 1.25rem;
}
.flex_container{
  display: flex;
  justify-content: space-evenly;

}
.exp1_image{
  height: 300px;
  width: 350px;
  /* padding: 20px 0px; */
  /* gap:20px; */
}
#exp_1{

  margin: 0px 0px;
}
.exp1_theory{
  padding:30px 50px;
  font-size: 1.25rem;

}
.sub_heading > p {
  padding: 30px 50px;
}
.exp1_pcb{
  height: 400px;
  /* width: 700px; */
}
.flex{

margin: auto;
padding: 0 25%;
z-index: 0;
}
#exp_2{
  margin: 0px 0px;
}

/* main{
  margin:0px 0px;
} */
#table{
  padding-left: 25%;

}




#first_back h1
{
  color: blueviolet;
  font-family: 'Poppins', sans-serif;
  text-decoration-line: underline;
  font-size: 4rem;
}
#first_back h2
{
  color: purple;
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
  text-decoration-line: underline;
}





#exp_1 h3
{
  color: purple;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  
}
#exp_1 h1{
  color: blueviolet;
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  text-decoration-line: underline;
}

#exp_1 p{
  text-align: center;

}




#exp_2 h3
{
  color: purple;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  text-decoration-line: underline;
  margin-bottom: 1rem;
  margin-top: 2rem;
 display: flex;
 align-items: center;

}
#exp_2 h2{
  color: blueviolet;
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  text-decoration-line: underline;
  margin-bottom: 2rem;
  padding-top: 2rem;

}

#exp_2 p{
  text-align: center;
  padding-left: 3rem;
  font-size: 1.25rem;
  padding-right: 3rem;
  
}
#exp_2 {
  padding-left: 2rem;
  padding-right: 1rem;

}
#exp_2 li{
  font-size: 1.25rem;
}



#exp_3 h2
{
  color: purple;
  font-family: 'Poppins', sans-serif;
  font-size: 2.3rem;
  text-decoration-line: underline;
  margin-bottom: 2rem;
  text-align: center;
  margin-top: 2rem;

}
#exp_3 h1{
  color: blueviolet;
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  text-decoration-line: underline;
  margin-bottom: 2rem;
  padding-top: 2rem;
}
#exp_3 p{
  padding-left: 3rem;
  text-align: center;
  padding-right: 1.5rem;
}
#exp_3 li{
  padding-left: 3rem;
  text-align: center;
  padding-right: 3rem;
}

#exp_3 .imple table{
  
  margin-left: 43%;
}